#main_nav
{
	margin-top:15px
}

#main_nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main_nav ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:600;
	font-size:15px;
	line-height:32px;
	padding:0 15px;
}

#main_nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main_nav ul li.menu
{
	background:#ddd
}

#main_nav ul li:hover
{
	background:#f6f6f6
}

#main_nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#main_nav ul ul li
{
	float:none;
	width:150px
}

#main_nav ul ul a
{
	line-height:120%;
	padding:10px 15px
}


#main_nav ul li:hover > ul
{
	display:block
}